<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
</head>
<body>
    <header>
        <h1><a href="/北館1階">混雑情報.com</a></h1>
        <a href="北館1階"><div>北館1階</div></a>
        <a href="北館2階"><div>北館2階</div></a>
        <a href="北館3階"><div>北館3階</div></a>
        <a href="北館4階"><div>北館4階</div></a>
        <a href="南館2階"><div>南館2階</div></a>
        <a href="南館3階"><div>南館3階</div></a>
        <a href="南館4階"><div>南館4階</div></a>
        <a href="三号館1階"><div>三号館1階</div></a>
        <a href="三号館2階"><div>三号館2階</div></a>
        <a href="三号館3階"><div>三号館3階</div></a>
        <a href="三号館4階"><div>三号館4階</div></a>
    </header>
    {% block content %}
    <!-- main -->
    {% endblock %}
</body>
</html>