<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>混雑情報ドットコム</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png" >
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
</head>
<body>
    <header>
        <div class="header"><h1 class="title">混雑状況.com</h1></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <a href="北館1階"><li>北館1階</li></a>
            <a href="北館2階"><li>北館2階</li></a>
            <a href="北館3階"><li>北館3階</li></a>
            <a href="北館4階"><li>北館4階</li></a>
            <a href="南館2階"><li>南館2階</li></a>
            <a href="南館3階"><li>南館3階</li></a>
            <a href="南館4階"><li>南館4階</li></a>
            <a href="三号館1階"><li>三号館1階</li></a>
            <a href="三号館2階"><li>三号館2階</li></a>
            <a href="三号館3階"><li>三号館3階</li></a>
            <a href="三号館4階"><li>三号館4階</li></a>
            <li></li>
            <li></li>
          </ul>
        </div>
    </header>
    <main>

    <div id="mask" class="hidden"></div>
    <section id="modal" class="hidden">
        <p id="classname"></p>
        <p id="congestion"></p>
        <p id="lastEditTime"></p>
    </section>

    {% block content %}
    <!-- main -->
    {% endblock %}
    </main>
    <script>
        let mask = document.getElementById('mask');
        let modal = document.getElementById('modal');

        let classname = document.getElementById('classname');
        let congestion = document.getElementById('congestion');
        let lastEditTime = document.getElementById('lastEditTime');

        function remove_hidden(c, co, t) {
            mask.classList.remove("hidden");
            modal.classList.remove("hidden");
            console.log(c);
            classname.innerHTML = c;
            congestion.innerHTML = "混雑状況　"+co;
            lastEditTime.innerHTML = "最終更新時間　"+t;
        }

        mask.addEventListener('click', () => {
            mask.classList.add('hidden');
            modal.classList.add('hidden');
        });
    </script>
</body>
</html>